# Trying to Clip the Data to a Polygon
This notebook will try to clip the data using GeoPandas to a shapefiles, but without success

In [1]:
import geopandas as gpd
from shapely.geometry import Point
import folium as f
import pandas as pd
import numpy as np

In [2]:
# Neighbourhood and Ward shapefiles used to complement eachother in the cloropleth map when one or the other is unavailable. 
# No shapefile data was available for Halton Hills and Milton.

# Use Toronto Neighbourhood data (https://open.toronto.ca/dataset/neighbourhoods/)
# Use York Neighbourhood data (https://insights-york.opendata.arcgis.com/datasets/early-development-instrument-edi-neighbourhood-boundary)
# Use Durham Neighbourhood data (https://opendata.durham.ca/datasets/health-neighbourhoods?geometry=-80.986%2C43.775%2C-76.814%2C44.465)
# Use Oakville Ward data (https://portal-exploreoakville.opendata.arcgis.com/datasets/2018-ward-boundaries?geometry=-80.240%2C43.363%2C-79.197%2C43.537)
# Use Burlington Ward data (https://navburl-burlington.opendata.arcgis.com/datasets/ward-boundaries?geometry=-80.885%2C43.206%2C-78.799%2C43.556)
# Use Peel Ward data (https://data.peelregion.ca/datasets/wardboundary-20182022?geometry=-80.969%2C43.755%2C-78.883%2C44.101)

shapefile_toronto = gpd.read_file('C:/Users/Jonathan.Densil/Documents/Personal/Coding/IBM Data Science Course/Course 9/ibm-data-science-capstone-project/Capstone Project/Data/Toronto Neighbourhood/Neighbourhoods.shp')
shapefile_york = gpd.read_file('C:/Users/Jonathan.Densil/Documents/Personal/Coding/IBM Data Science Course/Course 9/ibm-data-science-capstone-project/Capstone Project/Data/York Neighbourhood/Early_Development_Instrument__EDI__Neighbourhood_Boundary.shp')
shapefile_durham = gpd.read_file('C:/Users/Jonathan.Densil/Documents/Personal/Coding/IBM Data Science Course/Course 9/ibm-data-science-capstone-project/Capstone Project/Data/Durham Neighbourhod/Health_Neighbourhoods.shp')
shapefile_oakville = gpd.read_file('C:/Users/Jonathan.Densil/Documents/Personal/Coding/IBM Data Science Course/Course 9/ibm-data-science-capstone-project/Capstone Project/Data/Halton Ward/Oakville/847d9533-d917-4828-8657-bc610809d8362020329-1-2i4bcc.nahs2.shp')
shapefile_burlington = gpd.read_file('C:/Users/Jonathan.Densil/Documents/Personal/Coding/IBM Data Science Course/Course 9/ibm-data-science-capstone-project/Capstone Project/Data/Halton Ward/Burlington/Ward_Boundaries.shp')
shapefile_peel = gpd.read_file('C:/Users/Jonathan.Densil/Documents/Personal/Coding/IBM Data Science Course/Course 9/ibm-data-science-capstone-project/Capstone Project/Data/Peel Ward/WardBoundary_20182022.shp')

In [3]:
#shapefile_toronto.crs = {'init' :'epsg:4326'}
#shapefile_york.crs = {'init' :'epsg:4326'}
#shapefile_durham.crs = {'init' :'epsg:4326'}
#shapefile_oakville.crs = {'init' :'epsg:4326'}
#shapefile_burlington.crs = {'init' :'epsg:4326'}
#shapefile_peel.crs = {'init' :'epsg:4326'}

In [4]:
print(shapefile_toronto.crs)
print(shapefile_york.crs)
print(shapefile_durham.crs)
print(shapefile_oakville.crs)
print(shapefile_burlington.crs)
print(shapefile_peel.crs)

epsg:4326
epsg:4326
epsg:26917
epsg:3857
epsg:26917
epsg:3857

## Housing data for Ontario

In [5]:
df = pd.read_csv('C:/Users/Jonathan.Densil/Documents/Personal/Coding/IBM Data Science Course/Course 9/ibm-data-science-capstone-project/Capstone Project/Data/properties.csv')
df.head()

,Unnamed: 0,Address,AreaName,Price ($),lat,lng
0,0,"86 Waterford Dr Toronto, ON",Richview,999888,43.679882,-79.544266
1,1,"#80 - 100 BEDDOE DR Hamilton, ON",Chedoke Park B,399900,43.250000,-79.904396
2,2,"213 Bowman Street Hamilton, ON",Ainslie Wood East,479000,43.251690,-79.919357
3,3,"102 NEIL Avenue Hamilton, ON",Greenford,285900,43.227161,-79.767403
4,6,"#1409 - 230 King St Toronto, ON",Downtown,362000,43.651478,-79.368118

In [6]:
df.drop(columns = 'Unnamed: 0', axis = 1, inplace = True)

In [7]:
df

,Address,AreaName,Price ($),lat,lng
0,"86 Waterford Dr Toronto, ON",Richview,999888,43.679882,-79.544266
1,"#80 - 100 BEDDOE DR Hamilton, ON",Chedoke Park B,399900,43.250000,-79.904396
2,"213 Bowman Street Hamilton, ON",Ainslie Wood East,479000,43.251690,-79.919357
3,"102 NEIL Avenue Hamilton, ON",Greenford,285900,43.227161,-79.767403
4,"#1409 - 230 King St Toronto, ON",Downtown,362000,43.651478,-79.368118
...,...,...,...,...,...
25346,"3100 CARLING AVENUE UNIT#416 Ottawa, ON",Bayshore,154900,45.353519,-75.807793
25347,"5827 GLADEWOODS PLACE Ottawa, ON",Orléans,624900,45.441273,-75.532745
25348,"6349 DEERMEADOW DRIVE Ottawa, ON",Greely,899000,45.238155,-75.602249
25349,"212 ALVIN ROAD Ottawa, ON",Rockcliffe - Manor Park,295000,45.453838,-75.650040
25350,"BARTON Street BARTON Street Stoney Creek, ON",Stoney Creek,1595000,43.220070,-79.689835

In [8]:
is_NaN = df.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = df[row_has_NaN]
rows_with_NaN

,Address,AreaName,Price ($),lat,lng
209,"7393 Wellington Rd 51 . Ariss, ON",NaN,699000,43.596718,-80.340660
1022,"120 WOODBURN Road Glanbrook, ON",NaN,329900,-999.000000,-999.000000
1132,"457289 CONCESSION 8 S Sydenham Twp, ON",NaN,729900,-999.000000,-999.000000
1186,"152 MARR Drive Elora, ON",NaN,399900,43.693314,-80.437492
1192,"3058 Bruce Road 20 Other Bruce Township, ON",NaN,189900,-999.000000,-999.000000
...,...,...,...,...,...
24558,"823 English Settlement Rd Murray Ward, ON",NaN,699000,-999.000000,-999.000000
24586,"3606 CEDAR GROVE ROAD Prescott, ON",NaN,399999,44.743317,-75.517426
25095,"7256 Wellington Road 124 Road Guelph, ON",NaN,499900,43.494778,-80.285805
25099,"7985 Tait`s Beach Rd Hamilton Township, ON",NaN,599000,44.109016,-78.273743
25233,"0 Cornish Hollow Rd Hamilton Township, ON",NaN,399500,44.028290,-78.198029

In [9]:
df.drop(df.loc[df['lat']==-999.000000].index, inplace = True)
df.reset_index(inplace = True)
df.drop(columns = 'index', inplace = True)
df.head()

,Address,AreaName,Price ($),lat,lng
0,"86 Waterford Dr Toronto, ON",Richview,999888,43.679882,-79.544266
1,"#80 - 100 BEDDOE DR Hamilton, ON",Chedoke Park B,399900,43.250000,-79.904396
2,"213 Bowman Street Hamilton, ON",Ainslie Wood East,479000,43.251690,-79.919357
3,"102 NEIL Avenue Hamilton, ON",Greenford,285900,43.227161,-79.767403
4,"#1409 - 230 King St Toronto, ON",Downtown,362000,43.651478,-79.368118

In [10]:
i = 0
d = {}
Address = []
Geometry = []

for row in df.iterrows():
    #print(row[1][0])
    #d.update({'col1':row[1][0],'geometry':Point(row[1][3],row[1][4])})
    Address.append(row[1][0])
    Geometry.append(Point(row[1][3],row[1][4]))

In [11]:
Geometry[0:5]

[<shapely.geometry.point.Point at 0x20747013b08>,
 <shapely.geometry.point.Point at 0x207470139c8>,
 <shapely.geometry.point.Point at 0x207470135c8>,
 <shapely.geometry.point.Point at 0x20747013288>,
 <shapely.geometry.point.Point at 0x20747013f08>]

In [12]:
geo = gpd.GeoDataFrame(geometry = Geometry,  crs = "EPSG:4326")

In [13]:
clipped = gpd.clip(geo, shapefile_toronto)

In [14]:
clipped

Empty GeoDataFrame
Columns: [geometry]
Index: []